* {
	margin: 0;
	padding: 0;
}

a {
	border: 0;
	outline: none;
}

$black: #000;
$white: #fff;

html,
body,
.wrap {
	height: 100%;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('./../fonts/proximanova-regular-webfont.woff2') format('woff2'),
			 url('./../fonts/proximanova-regular-webfont.woff') format('woff'),
			 url('./../fonts/proximanova-regular-webfont.ttf')  format('truetype');
}

@font-face {
	font-family: 'ProximaNovaXtraBold';
	src: url('./../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
			 url('./../fonts/proximanova-extrabold-webfont.woff') format('woff'),
			 url('./../fonts/proximanova-extrabold-webfont.ttf')  format('truetype');
}

html {
	color: $white;
	font-family: 'ProximaNova', sans-serif;
}

body {
	background: url('./../images/bg.jpg') center no-repeat fixed;
	background-size: cover;
}

.wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}

.header,
.sm-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.header {
	justify-content: space-between;
	position: absolute;
	top: 30px;
	width: inherit;

	&-name {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	.photo {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.my-photos {
		font-size: .6em;
	}
}

.main {
	margin: 0 auto 60px;
	text-align: center;

	h1 {
		font-family: 'ProximaNovaXtraBold', sans-serif;
		font-size: 4.5em;
	}

	h3 {
		color: darken($white, 20%);
		font-size: 1.9em;
		margin: 10px auto 0;
	}
}


.works {
	margin-bottom: 30px;
	text-align: center;

	.my-works {
		background-color: transparent;
		border: 3px solid $white;
		color: $white;
		font-family: 'ProximaNovaXtraBold', sans-serif;
		outline: none;

		&:hover {
			background-color: $white;
			color: $black;
			cursor: pointer;
		}
	}

	.btn-text {
		font-size: 1.9em;
		margin: 20px 40px;
	}
}


.sm-wrap {
	justify-content: center;

	.sm-icon {
		margin: 0 15px;
	}
}
