* {
	margin: 0;
	padding: 0;
}

$white: #fff;

html,
body,
.wrap {
	height: 100%;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('./../fonts/proximanova-regular-webfont.woff2') format('woff2'),
			 url('./../fonts/proximanova-regular-webfont.woff') format('woff'),
			 url('./../fonts/proximanova-regular-webfont.ttf')  format('truetype');
}

@font-face {
	font-family: 'ProximaNovaXtraBold';
	src: url('./../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
			 url('./../fonts/proximanova-extrabold-webfont.woff') format('woff'),
			 url('./../fonts/proximanova-extrabold-webfont.ttf')  format('truetype');
}

html {
	color: $white;
	font-family: 'ProximaNova', sans-serif;
}

body {
	background: url('./../images/bg.jpg') center no-repeat fixed;
	background-size: cover;
}

.wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;

	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		&-name {
			font-size: 1.2em;
			text-transform: uppercase;
		}
	}

	.main {
		margin: 0 auto;
		text-align: center;

		h1 {
			font-family: 'ProximaNovaXtraBold', sans-serif;
			font-size: 4.5em;
		}

		h3 {
			color: darken($white, 20%);
			font-size: 1.9em;
			margin: 20px auto;
		}

	}

	.works {
		.my-works {
			background-color: transparent;
			border: 3px solid $white;
			color: $white;
			font-family: 'ProximaNovaXtraBold', sans-serif;
		}
	}
}
