@import 'modules/breakpoints';
@import 'modules/colours';

* {
	margin: 0;
	padding: 0;
}

a {
	border: 0;
	outline: none;
}

html,
body,
.wrap {
	height: 100%;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('./../fonts/proximanova-regular-webfont.woff2') format('woff2'),
			 url('./../fonts/proximanova-regular-webfont.woff') format('woff'),
			 url('./../fonts/proximanova-regular-webfont.ttf')  format('truetype');
}

@font-face {
	font-family: 'ProximaNovaXtraBold';
	src: url('./../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
			 url('./../fonts/proximanova-extrabold-webfont.woff') format('woff'),
			 url('./../fonts/proximanova-extrabold-webfont.ttf')  format('truetype');
}

html {
	color: $white;
	font-family: 'ProximaNova', sans-serif;
}

body {
	background: url('./../images/bg.jpg') center no-repeat fixed;
	background-size: cover;
}

.wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}

.header,
.sm-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.header {
	display: none;
	justify-content: space-between;
	position: absolute;
	top: 30px;
	width: inherit;

	&-name {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	.photo {
		align-items: center;
		display: inherit;
		flex-direction: column;
		flex-wrap: inherit;
	}

	.my-photos {
		font-size: .6em;
	}
}

.main {
	margin: 0 auto 60px;
	text-align: center;

	@media (max-width: $tablet) {
		margin-bottom: 35px;
	}

	@media (min-width: $tablet) and (max-width: $ipad) {
		margin-bottom: 40px;
	}

	@media (min-width: $desktop) and (max-width: $wide-desktop) {
		margin-bottom: 80px;
	}

	@media (min-width: $wide-desktop) {
		margin-bottom: 90px;
	}

	h1 {
		font-family: 'ProximaNovaXtraBold', sans-serif;
		font-size: 4.5em;

		@media (max-width: $tablet) {
			font-size: 2.5em;
		}

		@media (min-width: $tablet) and (max-width: $ipad) {
			font-size: 3.5em;
		}

		@media (min-width: $desktop) and (max-width: $wide-desktop) {
			font-size: 7em;
		}

		@media (min-width: $wide-desktop) {
			font-size: 9em;
		}
	}

	h3 {
		color: darken($white, 20%);
		font-size: 1.9em;
		margin: 10px auto 0;

		@media (max-width: $tablet) {
			font-size: 1.2em;
		}

		@media (min-width: $tablet) and (max-width: $ipad) {
			font-size: 1.47em;
		}

		@media (min-width: $desktop) and (max-width: $wide-desktop) {
			font-size: 2.9em;
		}

		@media (min-width: $wide-desktop) {
			font-size: 3.8em;
		}
	}
}

// .works {
// 	margin-bottom: 30px;
// 	text-align: center;

// 	@media (min-width: $desktop) and (max-width: $wide-desktop) {
// 		margin-bottom: 40px;
// 	}

// 	@media (min-width: $wide-desktop) {
// 		margin-bottom: 47px;
// 	}

// 	.my-works {
// 		background-color: transparent;
// 		border: 3px solid $white;
// 		color: $white;
// 		font-family: 'ProximaNovaXtraBold', sans-serif;
// 		outline: none;

// 		&:hover {
// 			background-color: $white;
// 			color: $black;
// 			cursor: pointer;
// 		}

// 		@media (min-width: $desktop) and (max-width: $wide-desktop) {
// 			border-width: 4px;
// 		}

// 		@media (min-width: $wide-desktop) {
// 			border-width: 5px;
// 		}
// 	}

// 	.btn-text {
// 		font-size: 1.9em;
// 		margin: 20px 40px;

// 		@media (max-width: $ipad) {
// 			font-size: 1.47em;
// 		}

// 		@media (min-width: $desktop) and (max-width: $wide-desktop) {
// 			font-size: 2.9em;
// 		}

// 		@media (min-width: $wide-desktop) {
// 			font-size: 3.8em;
// 		}
// 	}
// }

.sm-wrap {
	justify-content: center;

	.sm-icon {
		margin: 0 15px;

		@media (min-width: $desktop) and (max-width: $wide-desktop) {
			margin: 0 20px;
		}

		@media (min-width: $wide-desktop) {
			margin: 0 25px;
		}
	}

	.twitter-icon {
		height: 29px;
		width: 35px;

		@media (min-width: $desktop) and (max-width: $wide-desktop) {
			height: 46.4px;
			width: 56px;
		}

		@media (min-width: $wide-desktop) {
			height: 51.1px;
			width: 66.5px;
		}
	}

	.insta-icon {
		height: 30px;
		width: 30px;

		@media (min-width: $desktop) and (max-width: $wide-desktop) {
			height: 48px;
			width: 48px;
		}

		@media (min-width: $wide-desktop) {
			height: 57px;
			width: 57px;
		}
	}

	.github-icon {
		height: 28px;
		width: 28px;

		@media (min-width: $desktop) and (max-width: $wide-desktop) {
			height: 44.8px;
			width: 44.8px;
		}

		@media (min-width: $wide-desktop) {
			height: 53.2px;
			width: 53.2px;
		}
	}
}
