* {
  margin: 0;
  padding: 0; }

a {
  border: 0;
  outline: none; }

html,
body,
.wrap {
  height: 100%; }

@font-face {
  font-family: 'ProximaNova';
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff"), url("./../fonts/proximanova-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNovaXtraBold';
  src: url("./../fonts/proximanova-extrabold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-extrabold-webfont.woff") format("woff"), url("./../fonts/proximanova-extrabold-webfont.ttf") format("truetype"); }

html {
  color: #fff;
  font-family: 'ProximaNova', sans-serif; }

body {
  background: url("./../images/bg.jpg") center no-repeat fixed;
  background-size: cover; }

.wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 90%; }
  .wrap .header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px; }
    .wrap .header-name {
      font-size: 1.2em;
      text-transform: uppercase; }
    .wrap .header .photo {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
    .wrap .header .my-photos {
      font-size: .6em; }
  .wrap .main {
    margin: 0 auto;
    text-align: center; }
    .wrap .main h1 {
      font-family: 'ProximaNovaXtraBold', sans-serif;
      font-size: 4.5em; }
    .wrap .main h3 {
      color: #cccccc;
      font-size: 1.9em;
      margin: 20px auto; }
  .wrap .my-works {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-family: 'ProximaNovaXtraBold', sans-serif;
    outline: none; }
    .wrap .my-works:hover {
      background-color: #fff;
      color: #000;
      cursor: pointer; }
  .wrap .btn-text {
    font-size: 1.9em;
    margin: 20px 40px; }
