* {
  margin: 0;
  padding: 0; }

a {
  border: 0;
  outline: none; }

html,
body,
.wrap {
  height: 100%; }

@font-face {
  font-family: 'ProximaNova';
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff"), url("./../fonts/proximanova-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNovaXtraBold';
  src: url("./../fonts/proximanova-extrabold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-extrabold-webfont.woff") format("woff"), url("./../fonts/proximanova-extrabold-webfont.ttf") format("truetype"); }

html {
  background-color: #3a4765;
  color: #fff;
  font-family: 'ProximaNova', sans-serif; }

body {
  background: url("./../images/bg.jpg") center no-repeat fixed;
  background-size: cover; }

.wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 90%; }

.header,
.sm-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.header {
  display: none;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 30px;
  width: inherit; }
  .header-name {
    font-size: 1.2em;
    text-transform: uppercase; }
  .header .photo {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    display: inherit;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: inherit;
        -ms-flex-wrap: inherit;
            flex-wrap: inherit; }
  .header .my-photos {
    font-size: .6em; }

.main {
  margin: 0 auto 60px;
  text-align: center; }
  @media (max-width: 600px) {
    .main {
      margin-bottom: 35px; } }
  @media (min-width: 600px) and (max-width: 800px) {
    .main {
      margin-bottom: 40px; } }
  @media (min-width: 1600px) and (max-width: 1900px) {
    .main {
      margin-bottom: 80px; } }
  @media (min-width: 1900px) {
    .main {
      margin-bottom: 90px; } }
  .main h1 {
    font-family: 'ProximaNovaXtraBold', sans-serif;
    font-size: 4.5em; }
    @media (max-width: 600px) {
      .main h1 {
        font-size: 2.5em; } }
    @media (min-width: 600px) and (max-width: 800px) {
      .main h1 {
        font-size: 3.5em; } }
    @media (min-width: 1600px) and (max-width: 1900px) {
      .main h1 {
        font-size: 7em; } }
    @media (min-width: 1900px) {
      .main h1 {
        font-size: 9em; } }
  .main h3 {
    color: #cccccc;
    font-size: 1.9em;
    margin: 10px auto 0; }
    @media (max-width: 600px) {
      .main h3 {
        font-size: 1.2em; } }
    @media (min-width: 600px) and (max-width: 800px) {
      .main h3 {
        font-size: 1.47em; } }
    @media (min-width: 1600px) and (max-width: 1900px) {
      .main h3 {
        font-size: 2.9em; } }
    @media (min-width: 1900px) {
      .main h3 {
        font-size: 3.8em; } }

.sm-wrap {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sm-wrap .sm-icon {
    margin: 0 15px; }
    @media (min-width: 1600px) and (max-width: 1900px) {
      .sm-wrap .sm-icon {
        margin: 0 20px; } }
    @media (min-width: 1900px) {
      .sm-wrap .sm-icon {
        margin: 0 25px; } }
  .sm-wrap .twitter-icon {
    height: 29px;
    width: 35px; }
    @media (min-width: 1600px) and (max-width: 1900px) {
      .sm-wrap .twitter-icon {
        height: 46.4px;
        width: 56px; } }
    @media (min-width: 1900px) {
      .sm-wrap .twitter-icon {
        height: 51.1px;
        width: 66.5px; } }
  .sm-wrap .insta-icon {
    height: 30px;
    width: 30px; }
    @media (min-width: 1600px) and (max-width: 1900px) {
      .sm-wrap .insta-icon {
        height: 48px;
        width: 48px; } }
    @media (min-width: 1900px) {
      .sm-wrap .insta-icon {
        height: 57px;
        width: 57px; } }
  .sm-wrap .github-icon {
    height: 28px;
    width: 28px; }
    @media (min-width: 1600px) and (max-width: 1900px) {
      .sm-wrap .github-icon {
        height: 44.8px;
        width: 44.8px; } }
    @media (min-width: 1900px) {
      .sm-wrap .github-icon {
        height: 53.2px;
        width: 53.2px; } }
