* {
  margin: 0;
  padding: 0; }

html,
body,
.wrap {
  height: 100%; }

@font-face {
  font-family: 'ProximaNova';
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff"), url("./../fonts/proximanova-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNovaXtraBold';
  src: url("./../fonts/proximanova-extrabold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-extrabold-webfont.woff") format("woff"), url("./../fonts/proximanova-extrabold-webfont.ttf") format("truetype"); }

html {
  color: #fff;
  font-family: 'ProximaNova', sans-serif; }

body {
  background: url("./../images/bg.jpg") center no-repeat fixed;
  background-size: cover; }

.wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 90%; }
  .wrap .header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wrap .header-name {
      text-transform: uppercase; }
  .wrap .main {
    font-family: 'ProximaNovaXtraBold', sans-serif;
    margin: 0 auto;
    text-align: center; }
  .wrap .works .my-works {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-family: 'ProximaNovaXtraBold', sans-serif; }
