section {
  height: 100%; }

.nav-top {
  background-color: #fff;
  box-shadow: 0 0 5px #4d4d4d;
  color: #000;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .nav-top ul {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    height: inherit;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    max-width: 700px;
    width: 90%; }

.test {
  background: url("./../images/icons_white.svg") repeat; }

.test2 {
  background: url("./../images/test.svg") repeat;
  background-color: #fff;
  color: #000; }
